 /* Style inputs with type="text", select elements and textareas */
 .Header_Class{
  
    text-align: left;
        /* width: 1000px; */
    height: 20px;
      
        /* Heading 2 <h2> */
      
        font-family: 'Bentham';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 30px;
    letter-spacing: -0.005em;
    margin-left: 3.5vw;
    margin-top: 150px;
      
      /* dark surface */
      
    color: #4D4D4D;
      
      
      /* Inside auto layout */
      
    flex: none;
    order: 0;
    flex-grow: 0;
      
    }
      
      .header_info{
        width: 1000px;
        height: 20px;
      
        /* Heading 2 <h2> */
      
        font-family: 'Bentham';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.005em;
      margin-top: 40px;
      margin-left: 3.4vw;
      
      /* dark surface */
      
      color: #4D4D4D;
      
      
      /* Inside auto layout */
      
      flex: none;
      order: 0;
      flex-grow: 0;
      }
      .Submit Button{
      
        background-color: #0d0d0d;
        align-items: center;
        border-radius: 10px;
        border-top: 2px solid #d4d4d4;
        padding: 16px;
        padding-block: 1em;
        margin-top: 13vh;
        margin-left: 3.5vw;
    
        font-family: 'Bentham';
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
      }
      
      .Email_Class{
        position: relative;
        align-items: center;
    
        font-family: 'Bentham';
        border-radius: 10px;
        padding: 10px;
        padding-block: 1em;
        margin: 16px;
        margin-left: 1.5vw;
        /* margin-right: 23px; */
      
        /* font-weight: bold; */
        font-size: 16px;
        color: #357960;
        width: 348px;
        height: 32px;
        margin-bottom: 60px;
      }
      
      .Full_name{
        margin-left: -11.9vw;
        color: #4D4D4D;
        font-family: 'Bentham';
    
      }
      
      .email_written{
        margin-left: -10.4vw;
        color: #4D4D4D;
        font-family: 'Bentham';
    
      
      }
      
      .help_written{
        margin-left: -3.9vw;
        color: #4D4D4D;
        font-family: 'Bentham';
    
      
      }
      
      .Name_Class{
        align-items: center;
        border-radius: 10px;
        padding: 13px;
        padding-block: 1em;
        /* margin: 16px; */
        margin-top: 2vh;
        margin-left: 1.33vw;
        margin-bottom: 60px;
        font-family: 'Bentham';
    
      
        /* font-weight: bold; */
        font-size: 16px;
        color: #357960;
      
        width: 348px;
        height: 32px;
      }
      
      .message{
        border-radius: 10px;
        padding: 16px;
        padding-block: 1em;
        /* margin: 16px; */
        margin-top: 2vh;
        margin-left: 1.3vw;
        width: 348px;
        height: 142px;
        /* margin-right: 23px; */
        /* margin-right: 1vw; */
      
        /* font-weight: bold; */
        font-size: 16px;
        font-family: 'Bentham';
    
        color: #0f0f0f;
      }


      .bookshelf{
        display: flex;
        margin-top: -500px;
        /* justify-content: right; */
        margin-left: 1300px;
        height: 600px;
        width: 600px;
      }
      
      
      
        